/* Navbar.css */

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
  }
  
  .navbar-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .user-icon-container {
    position: relative;
  }
  
  .dialogue-box {
    position: absolute;
    top: 35px; /* Adjust as needed to position below the user icon */
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
  }
  