.position-relative {
    position: relative;
  }
  
  .cart-button {
    bottom: -50px; /* Position the button off the bottom of the image initially */
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 3s ease-in-out; /* Add transition for smooth scrolling effect */
    opacity: 0; /* Initially hidden */
  }
  
  .position-relative:hover .cart-button {
    bottom: 0px;
    width: 100%; /* Bring the button into view */
    opacity: 1; /* Make the button visible */
  }
  .icon-container {
    width: 200px; /* Set the width and height to create a square */
    height: 200px; /* Adjust as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
  }
  .cards {
  width: 200px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
}

.content {
  width: 85%;
  height: 100%;
}

.cards:hover {
  background-color: #dc3545; /* Bootstrap's danger color */
}

.bgChange:hover{
  background-color: #dc3545;
}
.cards:hover .icon {
  color: white;
}
.changeColor {
  transition: filter 0.1s ease;
}
.camera{
  filter: invert(100%);
}
.bgChange:hover .changeColor {
  filter: invert(100%);
}
.bgChange:hover .changeColorss {
  transition: filter 0.1s ease;
  filter: invert(0%);
}
 


.rrr{
  border-radius: 100%;
  
}
/* contact page */

.contact-page {
  width: 80%;
}

.left-side {
  width: 40%;
  border-right: 1px solid #ccc;
}

.right-side {
  width: 60%;
}
.input-red {
  border-color: #e57373;
}
.input-red:focus {
  border-color: #ef5350;
  box-shadow: 0 0 5px rgba(239, 83, 80, 0.5);
}

form .form-control {
  margin-bottom: 1rem;
}

/* product details  */

.product-details {
  width: 80%;
  margin: 0 auto;
}

.routes {
  font-size: 0.9rem;
  color: #888;
}

.left-side .product-image {
  max-width: 100%;
  height: auto;
}

.right-side {
  width: 60%;
}

.stars-reviews {
  display: flex;
  align-items: center;
}

.star-icon {
  color: #f0ad4e;
}

.in-stock {
  color: green;
}

.out-of-stock {
  color: red;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0;
}

.description {
  margin: 1rem 0;
}

.quantity {
  width: 50px;
  text-align: center;
  font-size: 1.2rem;
}

.heart-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.image-div {
  width: 100%;
  height: 200px;
  background-color: #f7f7f7;
}

.form-section {
  margin-bottom: 20px;
}
.form-section h3 {
  color: #dc3545; /* Bootstrap danger color */
}
.form-section p {
  font-weight: bold;
}

